<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Créer une Note</title>
</head>
<body>
<h1>Créer une Nouvelle Note</h1>
<form action="/notes/create" method="post">
    <label for="auteur">Auteur :</label>
    <input type="text" id="auteur" name="auteur" th:value="${note.auteur}" required>
    <br><br>

    <label for="titre">Titre :</label>
    <input type="text" id="titre" name="titre" th:value="${note.titre}" required>
    <br><br>

    <label for="contenu">Contenu :</label>
    <textarea id="contenu" name="contenu" th:text="${note.contenu}" required></textarea>
    <br><br>

    <button type="submit">Créer</button>
</form>
</body>
</html>
